/* Este CSS va siendo reutilizado y ciertas clases pueden estar de mas */


@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  background-color: #2a2a2a;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: rgb(255, 255, 130);
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.parrafo {
  color: rgb(255, 255, 130);
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.boton {
  color: rgb(255, 255, 130);
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  background-color: red;
}

#resultado {
  margin-top: 25px;
  color: rgb(255, 255, 130);
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 20px;
}


.input {
  font-weight: bold;
  color: red;
  margin-bottom: 50px;
  background-color: azure;
}


#tabla {
  margin-top: 25px;
  color: rgb(255, 255, 130);
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 20px;
}

table, th, td {
  border: 1px solid black;
}

.tabla-oculta {
  display: none;
}